
$theme-colors: (
  "primary": #4b866c
);
$body-bg: #e8ebe7;

$bg-color: rgb(255, 255, 255);
$ft-color: rgba(233, 233, 233, 0.678);
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
//@import "./_customvariables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
body {
    background: $bg-color;
   

    .jumbotron{
        background-size: cover;
        background-repeat: no-repeat;
        color: #000000
    }

    .footer{
        background: $ft-color;
        width:100%;
        text-align:center;
    }
    .btn.sharp {
        border-radius:0;
    }
    .fa {
        font-size: 44px;
    }
    .cover {
        padding: 0 1.5rem;
    }
        .cover .btn-lg {
        padding: .75rem 1.25rem;
        font-weight: 700;
    }
    //html { visibility:hidden; } //hide html until js is loaded.
}
